<h1>Welcome to <%= @group.title %> </h1>


<h2>Description: </h2>
<p><%= @group.description %></p>

<h2>Rules: </h2>

<ul>
    <b><li><%= @group.rules %></li>
</ul>


<h2>Group Moderator: </h2>

<ul>
    <b><li><%= @group.user.username %></li>
</ul>

<% if @group.user == current_user %>
<h4><%= link_to "Edit Group", edit_group_path(@group)%></h4>
<% end %>

<% if !@group.topics.empty? %>
  <p><%= link_to 'See all topics', group_topics_path(@group)%></p>
  <h4>Most Recent Topics:</h4>
  <% @group.topics.order(updated_at: :desc).limit(3).each do |c|%>
    <li>
      <strong><%= c.user.username%></strong> scheduled a meetup to discuss: <%= link_to c.title, group_topic_path(@group,c)%>
    </li>
  <% end %>
<% end %>
<br>
<br>
<br>
<br>

<%= link_to "Add a Topic", new_group_topic_path(@group) %>
<%= link_to "Add a Meetup", new_group_meeting_path(@group) %>
<%= link_to "All Group Meetings", group_meetings_path(@group) %>