<!DOCTYPE html>
<html>
  <head>
    <title>Grouper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in?%>
    <%= link_to 'Create Group', new_user_group_path(current_user) %> |
    <%= link_to 'My Groups', user_groups_path(current_user) %> |
    <%= link_to 'Discover Groups', groups_path %> |
    <%= link_to 'Logout', logout_path, method:"delete"%> 
    
    <% else %>
    <%= link_to 'Signup', signup_path%> | 
    <%= link_to 'Log In With Google', '/auth/google_oauth2', method: :post %> |
    <%= link_to 'Login', login_path%> |
    
    <% end %>
  

  <div>
    <% if flash[:message] %>
      <%= flash[:message] %>
    <% end %>
    <%= @error %>
  </div>
    <%= yield %>
  </body>
</html>
